@use '../utilities' as *;

.introduction {
  background-color: $white;
  border: 1px solid $magenta;
  padding: 3.2rem;

  &__title {
    margin-bottom: 1.2rem;
  }

  @include respond(sm) {
    padding: 2.4rem;
  }

  @include respond(xs) {
    border: none;
    padding: 0;
  }
}
