@use '../utilities' as *;

.project {
  &__link {
    text-decoration: none;
  }

  &__content {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
    display: block;
    height: 100%;
    padding: 3.2rem;
    transition: transform 0.3s cubic-bezier(0.26, 0.56, 0.22, 1.04);
  }

  &__title {
    background-color: $light-turquoise;
    border-radius: $radius;
    color: $dark-turquoise;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    padding: 0.8rem 1.6rem 0.6rem;
    text-transform: uppercase;
  }

  &__tagline {
    margin-bottom: 0.8rem;
  }

  &__technologies {
    margin-bottom: 1.6rem;
  }

  &:hover &__content,
  &:focus &__content,
  &__link:hover &__content,
  &__link:focus &__content {
    border-color: $blue;
    transform: translateY(-1.2rem);
    transition: transform 0.6s cubic-bezier(0.26, 0.56, 0.22, 1.04);
  }
}
