@use '../utilities' as *;

.tag {
  color: $blue;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0.2rem 0.4rem;
  position: relative;

  &::before {
    background-color: $light-blue;
    bottom: 0.2rem;
    content: '';
    height: 0.8rem;
    left: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.26, 0.56, 0.22, 1.04);
    width: 100%;
  }

  &__text {
    position: relative;
    z-index: 1;
  }
}
