$black: #1a1a1a;
$white: #ffffff;
$yellow: #ffcb01;
$dark-yellow: darken($yellow, 10%);
$magenta: #e402f0;
$dark-magenta: darken($magenta, 10%);
$blue: #3201ff;
$light-blue: #e4dffe;
$turquoise: #00def0;
$dark-turquoise: #03afbf;
$light-turquoise: #e9fcfe;

$radius: 4px;
