@font-face {
  font-family: 'TT Hoves';
  font-weight: 100 400;
  src: url('/fonts/TT Hoves/TTHoves-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Hoves';
  font-weight: 500 900;
  src: url('/fonts/TT Hoves/TTHoves-Medium.woff2') format('woff2');
}
